In [1]:
# %% -------------  Audit Es wurden Flags für LVA & Wiedereinstiegsdaten gesetzt und eine Dimenesion "Kohorte" angelegt - > hier Audit Flags + Kohorte -------------
# Zunächst fehlerhaft, Anzeige von 1 bei Wiedereinstieg ohne LVA, Datenbereinigung erfolgte, danach OK
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+pymysql://root:voc_root@localhost:3306/vocdata",
    future=True, echo=False
)

sql = """
SELECT
    kohorte_id,
    is_lva,
    is_wiedereinstieg,
    COUNT(*) AS zeilen
FROM fact_lva_stats
GROUP BY kohorte_id, is_lva, is_wiedereinstieg
ORDER BY kohorte_id, is_lva, is_wiedereinstieg;
"""
pd.read_sql(text(sql), engine)

   kohorte_id  is_lva  is_wiedereinstieg  zeilen
0           1       0                  0     111
1           1       1                  0     887
2           1       1                  1     193

In [ ]:
# %% --------Da Umbennenugn der Spalten im Excel (ursprüngliche Inkonsistenz beseitigt) --> Fehler im Code, daher Kontrolle via Script & Abgleich Spaltenabgleich Tabelle ↔ Excel --------
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

engine = create_engine("mysql+pymysql://root:voc_root@localhost:3306/vocdata", echo=False)
excel_file = Path("../data/bfs_data_lva.xlsx")   # falls Pfad anders: anpassen

# 1) Spalten der MySQL-Tabelle
db_cols = pd.read_sql("SELECT * FROM fact_lva_stats LIMIT 0", engine).columns

# 2) Alle Kopfzeilen aus *allen* *_Data-Blättern
xls = pd.ExcelFile(excel_file)
excel_cols = set()
for sh in xls.sheet_names:
    if sh.lower().endswith("_data"):
        df_head = pd.read_excel(xls, sheet_name=sh, nrows=5)   # reicht für Header
        excel_cols.update(c.strip() for c in df_head.columns)

# 3) Vergleich
only_in_db   = sorted(set(db_cols)  - excel_cols)
only_in_xls  = sorted(excel_cols    - set(db_cols))

print("Nur in Datenbank:", only_in_db)
print("Nur im Excel   :", only_in_xls)