In [6]:
# %% ─────────────────────  INITIALISIERUNG  ─────────────────────
import pandas as pd
from pathlib import Path

SRC_FILE = Path("../../data/bfs_data_abschlussquote.xlsx")    # relativer Pfad 
xls = pd.ExcelFile(SRC_FILE)

DATA_SHEETS = [s for s in xls.sheet_names if s.endswith("_Data")]
print("DATA_SHEETS =", DATA_SHEETS)

# %% ───────── Sheet-Profilierung: Vorschau & Info ─────────
summary = []                        # für die Schluss-Tabelle

for sheet in DATA_SHEETS:
    # Header automatisch finden (erste Zeile mit ≥3 Werten)
    head = pd.read_excel(xls, sheet_name=sheet, nrows=15, header=None)
    header_row = next(i for i, r in head.iterrows() if r.notna().sum() >= 3)

    df = pd.read_excel(xls, sheet_name=sheet, header=header_row)

    print(f"\n=== {sheet} ===")
    display(df.head(5))             # Vorschau
    print(df.info())                # Datentypen & Null-Zellen

    summary.append({
        "sheet": sheet,
        "rows": len(df),
        "cols": len(df.columns),
        "nulls_total": df.isna().sum().sum()
    })

# %% ───────── Gesamt-Übersicht ─────────
profil = pd.DataFrame(summary)
display(profil)

DATA_SHEETS = ['T1_SekII_1st_25_Merkm_Data', 'T2_SekII_1st_25_Kant_Data', 'T3_Matura_Merkm_Data', 'T4_Matura_Kant_Data']

=== T1_SekII_1st_25_Merkm_Data ===

,jahr,merkmal,kategorie,total_anz_25J,total_anz_sekII_erstabschluss_25J,Lehre_anz_sekII_erstabschluss_25J,allg_bildg_anz_sekII_erstabschluss_25J,total_%_sekII_erstabschluss_25J,Lehre_%_sekII_erstabschluss_25J,allg_bildg_%_sekII_erstabschluss_25J
0,2022,Total,NaN,80423,72437,48819,23618,90.100,60.700,29.400
1,2022,Geschlecht,Männer,41437,36684,27375,9309,88.529,66.064,22.465
2,2022,Geschlecht,Frauen,39018,35753,21449,14304,91.632,54.972,36.660
3,2022,Migrationskategorie,in der Schweiz geborene Schweizer/innen,60557,55798,37187,18611,92.142,61.409,30.733
4,2022,Migrationskategorie,in der Schweiz geborene Ausländer/innen,7745,6587,5265,1322,85.049,67.984,17.065

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   jahr                                    13 non-null     int64
 1   merkmal                                 13 non-null     object
 2   kategorie                               12 non-null     object
 3   total_anz_25J                           13 non-null     int64
 4   total_anz_sekII_erstabschluss_25J       13 non-null     int64
 5   Lehre_anz_sekII_erstabschluss_25J       13 non-null     int64
 6   allg_bildg_anz_sekII_erstabschluss_25J  13 non-null     int64
 7   total_%_sekII_erstabschluss_25J         13 non-null     float64
 8   Lehre_%_sekII_erstabschluss_25J         13 non-null     float64
 9   allg_bildg_%_sekII_erstabschluss_25J    13 non-null     float64
dtypes: float64(3), int64(5), object(2)
memory usage: 1.1+ KB
None

=== T2_SekII_1st_25_Kant_Data ===

,jahr,merkmal,kategorie,total_anz_25J,total_anz_sekII_erstabschluss_25J,Lehre_anz_sekII_erstabschluss_25J,allg_bildg_anz_sekII_erstabschluss_25J,total_%_sekII_erstabschluss_25J,Lehre_%_sekII_erstabschluss_25J,allg_bildg_%_sekII_erstabschluss_25J
0,2022,Total,CH,80423,72437,48819,23618,0.90,0.61,0.29
1,2022,Wohnkanton,ZH,13265,12115,8812,3303,0.91,0.66,0.25
2,2022,Wohnkanton,BE,9307,8555,6439,2116,0.92,0.69,0.23
3,2022,Wohnkanton,LU,3865,3519,2703,816,0.91,0.70,0.21
4,2022,Wohnkanton,UR,368,351,289,62,0.95,0.79,0.17

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   jahr                                    27 non-null     int64
 1   merkmal                                 27 non-null     object
 2   kategorie                               27 non-null     object
 3   total_anz_25J                           27 non-null     int64
 4   total_anz_sekII_erstabschluss_25J       27 non-null     int64
 5   Lehre_anz_sekII_erstabschluss_25J       27 non-null     int64
 6   allg_bildg_anz_sekII_erstabschluss_25J  27 non-null     int64
 7   total_%_sekII_erstabschluss_25J         27 non-null     float64
 8   Lehre_%_sekII_erstabschluss_25J         27 non-null     float64
 9   allg_bildg_%_sekII_erstabschluss_25J    27 non-null     float64
dtypes: float64(3), int64(5), object(2)
memory usage: 2.2+ KB
None

=== T3_Matura_Merkm_Data ===

,jahr,merkmal,kategorie,total_anz_25J,anz_matur_total,anz_matur_gym_25J,anz_matur_bm_25J,anz_matur_fms_25J,%_matur_total_25J,%_matur_gym_25J,%_matur_bm_25J,%_matur_fms_25J
0,2022,Total,NaN,80570,34551,18416,12853,3282,0.43,0.23,0.16,0.04
1,2022,Geschlecht,Männer,41555,15196,7682,6731,783,0.37,0.18,0.16,0.02
2,2022,Geschlecht,Frauen,39050,19355,10730,6126,2499,0.50,0.27,0.16,0.06
3,2022,Migrationskategorie,in der Schweiz geborene Schweizer/innen,60857,28716,15235,10840,2641,0.47,0.25,0.18,0.04
4,2022,Migrationskategorie,in der Schweiz geborene Ausländer/innen,7566,1940,849,845,246,0.26,0.11,0.11,0.03

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   jahr               13 non-null     int64
 1   merkmal            13 non-null     object
 2   kategorie          12 non-null     object
 3   total_anz_25J      13 non-null     int64
 4   anz_matur_total    13 non-null     int64
 5   anz_matur_gym_25J  13 non-null     int64
 6   anz_matur_bm_25J   13 non-null     int64
 7   anz_matur_fms_25J  13 non-null     int64
 8   %_matur_total_25J  13 non-null     float64
 9   %_matur_gym_25J    13 non-null     float64
 10  %_matur_bm_25J     13 non-null     float64
 11  %_matur_fms_25J    13 non-null     float64
dtypes: float64(4), int64(6), object(2)
memory usage: 1.3+ KB
None

=== T4_Matura_Kant_Data ===

,jahr,merkmal,kategorie,total_anz_25J,anz_matur_total,anz_matur_gym_25J,anz_matur_bm_25J,anz_matur_fms_25J,%_matur_total_25J,%_matur_gym_25J,%_matur_bm_25J,%_matur_fms_25J
0,2022,Wohnkanton,CH,80570,34551,18416,12853,3282,0.43,0.23,0.16,0.04
1,2022,Wohnkanton,ZH,13263,5610,2899,2530,181,0.42,0.22,0.19,0.01
2,2022,Wohnkanton,BE,9345,3644,1807,1592,245,0.39,0.19,0.17,0.03
3,2022,Wohnkanton,LU,3893,1371,735,555,80,0.35,0.19,0.14,0.02
4,2022,Wohnkanton,UR,371,107,53,45,9,0.29,0.14,0.12,0.02

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   jahr               27 non-null     int64
 1   merkmal            27 non-null     object
 2   kategorie          27 non-null     object
 3   total_anz_25J      27 non-null     int64
 4   anz_matur_total    27 non-null     int64
 5   anz_matur_gym_25J  27 non-null     int64
 6   anz_matur_bm_25J   27 non-null     int64
 7   anz_matur_fms_25J  27 non-null     int64
 8   %_matur_total_25J  27 non-null     float64
 9   %_matur_gym_25J    27 non-null     float64
 10  %_matur_bm_25J     27 non-null     float64
 11  %_matur_fms_25J    27 non-null     float64
dtypes: float64(4), int64(6), object(2)
memory usage: 2.7+ KB
None

                        sheet  rows  cols  nulls_total
0  T1_SekII_1st_25_Merkm_Data    13    10            1
1   T2_SekII_1st_25_Kant_Data    27    10            0
2        T3_Matura_Merkm_Data    13    12            1
3         T4_Matura_Kant_Data    27    12            0