In [2]:
import pandas as pd
from pathlib import Path

excel_path = Path(
    r"C:\Users\claud\iCloudDrive\Dokumente\02_CLI\Studium\ZHAW\Masterarbeit\vocdata\data\bfs_data.xlsx"
)

xls = pd.ExcelFile(excel_path)

for sh in xls.sheet_names:
    if sh.lower().endswith("_data"):
        # Header-Zeile ermitteln: erste Zeile, in der mindestens 3 Zellen nicht leer sind
        top = pd.read_excel(xls, sheet_name=sh, nrows=15, header=None)
        header_row = next(
            i for i, row in top.iterrows() if row.notna().sum() >= 3
        )

        df = pd.read_excel(xls, sheet_name=sh, header=header_row)
        print("=" * 80)
        print(f"▶︎ Sheet: {sh}")
        display(df.head(10))        # zeigt sauber formatiert im Notebook

================================================================================
▶︎ Sheet: T1_Lernform_Data

,abschlussniveau,lernform,total_lehrvertraege,anzahl_lva_vertraege,anzahl_lernende_mit_lva
0,EBA,Dual,5955,1915,1526
1,EBA,SOG,199,57,47
2,EFZ3,Dual,34548,10723,8458
3,EFZ3,SOG,4130,1590,1320
4,EFZ4,Dual,12434,3545,2890
5,EFZ4,SOG,1997,804,644

================================================================================
▶︎ Sheet: T2_Geschlecht_Data

,abschlussniveau,geschlecht,total_lehrvertraege,anzahl_lva_vertraege,anzahl_lernende_mit_lva
0,EBA,Männer,3827,1220,968
1,EBA,Frauen,2128,695,558
2,EFZ3,Männer,15868,5612,4394
3,EFZ3,Frauen,18680,5111,4064
4,EFZ4,Männer,10328,2934,2384
5,EFZ4,Frauen,2106,611,506

================================================================================
▶︎ Sheet: T3_Herkunft_Data

,abschlussniveau,mig_status,total_lehrvertraege,anzahl_lva_vertraege,anzahl_lernende_mit_lva
0,EBA,CH,2528,901,696
1,EBA,MIG,2558,729,607
2,EBA,Swissborn MIG,842,273,213
3,EBA,MIG Status unbekannt,27,12,10
4,EFZ3,CH,26219,7417,5855
5,EFZ3,MIG,4476,1894,1520
6,EFZ3,Swissborn MIG,3834,1394,1072
7,EFZ3,MIG Status unbekannt,19,18,11
8,EFZ4,CH,10787,2838,2331
9,EFZ4,MIG,947,434,345

================================================================================
▶︎ Sheet: Tx_ISCED_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,total_lernende,anzahl_lernende_mit_lva
0,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,779,199.0
1,Gesamte Eintrittskohorte,212,"Mode, Innenarchitektur und industrielles Design",212,39.0
2,Gesamte Eintrittskohorte,214,Kunsthandwerk,212,66.0
3,Gesamte Eintrittskohorte,322,"Bibliothek, Informationswesen, Archiv",68,8.0
4,Gesamte Eintrittskohorte,415,Sekretariats- und Büroarbeit,8331,1377.0
5,Gesamte Eintrittskohorte,416,Gross- und Einzelhandel,6935,1817.0
6,Gesamte Eintrittskohorte,613,Software- und Applikationsentwicklung und -ana...,1416,289.0
7,Gesamte Eintrittskohorte,711,Chemie und Verfahrenstechnik,475,86.0
8,Gesamte Eintrittskohorte,712,Umweltschutztechnologien,28,NaN
9,Gesamte Eintrittskohorte,713,Elektrizität und Energie,2538,823.0

================================================================================
▶︎ Sheet: T4_ISCED_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,total_lernende,anzahl_lernende_mit_lva
0,"EBA, 2 Jahre",211.0,Audiovisuelle Techniken und Medienproduktion,37,8.0
1,"EBA, 2 Jahre",214.0,Kunsthandwerk,10,NaN
2,"EBA, 2 Jahre",415.0,Sekretariats- und Büroarbeit,274,67.0
3,"EBA, 2 Jahre",416.0,Gross- und Einzelhandel,1373,336.0
4,"EBA, 2 Jahre",711.0,Chemie und Verfahrenstechnik,13,NaN
5,"EBA, 2 Jahre",713.0,Elektrizität und Energie,5,NaN
6,"EBA, 2 Jahre",715.0,Maschinenbau und Metallverarbeitung,364,82.0
7,"EBA, 2 Jahre",716.0,"Kraftfahrzeuge, Schiffe und Flugzeuge",424,111.0
8,"EBA, 2 Jahre",721.0,Nahrungsmittel,175,55.0
9,"EBA, 2 Jahre",722.0,"Werkstoffe (Glas, Papier, Kunststoff und Holz)",268,62.0

================================================================================
▶︎ Sheet: T4_ISCED_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,total_lernende,anzahl_lernende_mit_lva
0,EFZ 3 Jahre,211.0,Audiovisuelle Techniken und Medienproduktion,53,12.0
1,EFZ 3 Jahre,212.0,"Mode, Innenarchitektur und industrielles Design",11,NaN
2,EFZ 3 Jahre,214.0,Kunsthandwerk,176,59.0
3,EFZ 3 Jahre,322.0,"Bibliothek, Informationswesen, Archiv",68,8.0
4,EFZ 3 Jahre,415.0,Sekretariats- und Büroarbeit,8057,1310.0
5,EFZ 3 Jahre,416.0,Gross- und Einzelhandel,5340,1439.0
6,EFZ 3 Jahre,613.0,Software- und Applikationsentwicklung und -ana...,123,19.0
7,EFZ 3 Jahre,711.0,Chemie und Verfahrenstechnik,432,79.0
8,EFZ 3 Jahre,712.0,Umweltschutztechnologien,28,NaN
9,EFZ 3 Jahre,713.0,Elektrizität und Energie,863,300.0

================================================================================
▶︎ Sheet: T4_ISCED_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,total_lernende,anzahl_lernende_mit_lva
0,EFZ 4 Jahre,211,Audiovisuelle Techniken und Medienproduktion,689,179.0
1,EFZ 4 Jahre,212,"Mode, Innenarchitektur und industrielles Design",201,37.0
2,EFZ 4 Jahre,214,Kunsthandwerk,26,NaN
3,EFZ 4 Jahre,416,Gross- und Einzelhandel,222,42.0
4,EFZ 4 Jahre,613,Software- und Applikationsentwicklung und -ana...,1293,270.0
5,EFZ 4 Jahre,711,Chemie und Verfahrenstechnik,30,5.0
6,EFZ 4 Jahre,713,Elektrizität und Energie,1670,523.0
7,EFZ 4 Jahre,714,Elektronik und Automation,850,155.0
8,EFZ 4 Jahre,715,Maschinenbau und Metallverarbeitung,2217,387.0
9,EFZ 4 Jahre,716,"Kraftfahrzeuge, Schiffe und Flugzeuge",1361,409.0

================================================================================
▶︎ Sheet: T4.1.a_ISCED_Beruf_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,total_lehrvertraege,anzahl_lernende_mit_lva
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,37,8.0
1,EBA,214,Kunsthandwerk,Florist/in EBA,10,NaN
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,274,67.0
3,EBA,416,Gross- und Einzelhandel,Detailhandelsassistent/in EBA,1094,283.0
4,EBA,416,Gross- und Einzelhandel,Logistiker/in EBA,279,53.0
5,EBA,711,Chemie und Verfahrenstechnik,Chemie- und Pharmapraktiker/in EBA,13,NaN
6,EBA,713,Elektrizität und Energie,Kältemontage-Praktiker/in EBA,5,NaN
7,EBA,715,Maschinenbau und Metallverarbeitung,Oberflächenpraktiker/in EBA,13,NaN
8,EBA,715,Maschinenbau und Metallverarbeitung,Mechanikpraktiker/in EBA,116,22.0
9,EBA,715,Maschinenbau und Metallverarbeitung,Metallbaupraktiker/in EBA,99,24.0

================================================================================
▶︎ Sheet: T4.1.b_Beruf_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,total_lehrvertraege,anzahl_lernende_mit_lva
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Flexodrucker/in EFZ,8,NaN
1,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,45,12.0
2,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,11,NaN
3,EFZ3,214,Kunsthandwerk,Florist/in EFZ,162,56.0
4,EFZ3,214,Kunsthandwerk,Vergolder/in-Einrahmer/in EFZ,2,NaN
5,EFZ3,214,Kunsthandwerk,Musikinstrumentenbauer/in EFZ,11,NaN
6,EFZ3,214,Kunsthandwerk,Korb- und Flechtwerkgestalter/in EFZ,1,NaN
7,EFZ3,322,"Bibliothek, Informationswesen, Archiv",Fachmann/-frau Information und Dokumentation EFZ,68,8.0
8,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ E,7338,1066.0
9,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ B,719,244.0

================================================================================
▶︎ Sheet: T4.1.c_Beruf_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,total_lehrvertraege,anzahl_lernende_mit_lva
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,27,NaN
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,82,16.0
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,100,18.0
3,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,52,11.0
4,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,340,106.0
5,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,32,3.0
6,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,4,NaN
7,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,52,12.0
8,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Innendekorateur/in,27,NaN
9,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Theatermaler/in EFZ,2,NaN

================================================================================
▶︎ Sheet: T5_LVA_t_Data

  abschlussniveau                lva_zeitraum  anzahl_lernende_mit_lva
0           EBA      Probezeit (1.-3. Monat)*                      278
1           EBA    1. Lehrjahr (4.-12. Monat)                      867
2           EBA                   2. Lehrjahr                      341
3           EBA                 > 2. Lehrjahr                       40
4            EFZ3    Probezeit (1.-3. Monat)*                      969
5            EFZ3  1. Lehrjahr (4.-12. Monat)                     4120
6            EFZ3                 2. Lehrjahr                     2486
7            EFZ3               > 2. Lehrjahr                      883
8            EFZ4    Probezeit (1.-3. Monat)*                      187
9            EFZ4  1. Lehrjahr (4.-12. Monat)                     1196

================================================================================
▶︎ Sheet: T6_Wiedereinstieg_Data

  abschlussniveau   dim_wiedereinstieg  anzahl_lernende_mit_lva
0            EBA   Ohne Wiedereinstieg                      613
1            EBA    Mit Wiedereinstieg                      913
2            EFZ3  Ohne Wiedereinstieg                     1669
3            EFZ3   Mit Wiedereinstieg                     6789
4            EFZ4  Ohne Wiedereinstieg                      487
5            EFZ4   Mit Wiedereinstieg                     2403

================================================================================
▶︎ Sheet: T7_Zeitpkt_Wiedereinstieg_Data

  abschlussniveau wiedereinstieg_dauer  anzahl_lernende_wiedereinstieg
0           EBA    Im 1. Jahr nach LVA                             627
1           EBA    Im 2. Jahr nach LVA                             187
2           EBA              > 2. Jahr                              99
3            EFZ3  Im 1. Jahr nach LVA                            5503
4            EFZ3  Im 2. Jahr nach LVA                             964
5            EFZ3            > 2. Jahr                             322
6            EFZ4  Im 1. Jahr nach LVA                            2055
7            EFZ4  Im 2. Jahr nach LVA                             282
8            EFZ4            > 2. Jahr                              66

================================================================================
▶︎ Sheet: T8_Geschlecht_Wiedereinst._Data

  abschlussniveau geschlecht  anzahl_lernende_wiedereinstieg
0           EBA       Männer                             968
1           EBA       Frauen                             558
2            EFZ3     Männer                            4394
3            EFZ3     Frauen                            4064
4            EFZ4     Männer                            2384
5            EFZ4     Frauen                             506

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_G_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_mit_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
3,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
4,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA
5,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,11.0,NaN,<20 LVA
6,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,106.0,92.0,OK
7,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,3.0,NaN,<20 LVA
8,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,NaN,NaN,<30 Lehrverhältnisse
9,Gesamte Eintrittskohorte,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,12.0,NaN,<20 LVA

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EBA_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_mit_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,Printmedienpraktiker/in EBA,8.0,NaN,<20 LVA
1,EBA,214,Kunsthandwerk,Florist/in EBA,NaN,NaN,<30 Lehrverhältnisse
2,EBA,415,Sekretariats- und Büroarbeit,Büroassistent/in EBA,67.0,41.0,OK
3,EBA,416,Gross- und Einzelhandel,Detailhandelsassistent/in EBA,283.0,169.0,OK
4,EBA,416,Gross- und Einzelhandel,Logistiker/in EBA,53.0,29.0,OK
5,EBA,711,Chemie und Verfahrenstechnik,Chemie- und Pharmapraktiker/in EBA,NaN,NaN,<30 Lehrverhältnisse
6,EBA,715,Maschinenbau und Metallverarbeitung,Oberflächenpraktiker/in EBA,NaN,NaN,<30 Lehrverhältnisse
7,EBA,715,Maschinenbau und Metallverarbeitung,Mechanikpraktiker/in EBA,22.0,9.0,OK
8,EBA,715,Maschinenbau und Metallverarbeitung,Metallbaupraktiker/in EBA,24.0,11.0,OK
9,EBA,715,Maschinenbau und Metallverarbeitung,Uhrenarbeiter/in EBA,12.0,NaN,<20 LVA

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EFZ3_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_mit_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ3,211,Audiovisuelle Techniken und Medienproduktion,Fotofachmann/-frau EFZ,12.0,NaN,<20 LVA
1,EFZ3,212,"Mode, Innenarchitektur und industrielles Design",Wohntextilgestalter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
2,EFZ3,214,Kunsthandwerk,Florist/in EFZ,56.0,46.0,OK
3,EFZ3,214,Kunsthandwerk,Vergolder/in-Einrahmer/in EFZ,NaN,NaN,<30 Lehrverhältnisse
4,EFZ3,214,Kunsthandwerk,Musikinstrumentenbauer/in EFZ,NaN,NaN,<30 Lehrverhältnisse
5,EFZ3,322,"Bibliothek, Informationswesen, Archiv",Fachmann/-frau Information und Dokumentation EFZ,8.0,NaN,<20 LVA
6,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ E,1066.0,841.0,OK
7,EFZ3,415,Sekretariats- und Büroarbeit,Kaufmann/-frau EFZ B,244.0,182.0,OK
8,EFZ3,416,Gross- und Einzelhandel,Detailhandelsfachmann/-frau EFZ,941.0,770.0,OK
9,EFZ3,416,Gross- und Einzelhandel,Pharma-Assistent/in EFZ,197.0,172.0,OK

================================================================================
▶︎ Sheet: T9_ISCED_Beruf_WEstg_EFZ4_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,beruf_bez,anzahl_lernende_mit_lva,anzahl_lernende_wiedereinstieg,datenstatus
0,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Printmedienverarbeiter/in EFZ,NaN,NaN,<30 Lehrverhältnisse
1,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Medientechnologe/-technologin EFZ,16.0,NaN,<20 LVA
2,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Polygraf/in EFZ,18.0,NaN,<20 LVA
3,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Interactive Media Designer EFZ,11.0,NaN,<20 LVA
4,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Mediamatiker/in EFZ,106.0,92.0,OK
5,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Veranstaltungsfachmann/-frau EFZ,3.0,NaN,<20 LVA
6,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Fotograf/in EFZ,NaN,NaN,<30 Lehrverhältnisse
7,EFZ4,211,Audiovisuelle Techniken und Medienproduktion,Grafiker/in EFZ,12.0,NaN,<20 LVA
8,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Innendekorateur/in,NaN,NaN,<30 Lehrverhältnisse
9,EFZ4,212,"Mode, Innenarchitektur und industrielles Design",Gestalter/in Werbetechnik EFZ,24.0,18.0,OK

================================================================================
▶︎ Sheet: T10_Anschlussart_LVA_Data

,abschlussniveau,anschlussart_lva,anzahl_lernende_wiedereinstieg
0,EBA,"Neubeginn, kein Betriebswechsel",52
1,EBA,"Neubeginn, mit Betriebswechsel",305
2,EBA,"Berufswechsel, gleiche Dauer + anderes Feld",163
3,EBA,"Berufswechsel, gleiche Dauer + gleiches Feld",22
4,EBA,"Berufswechsel, andere Dauer + gleiches Feld",137
5,EBA,"Berufswechsel, andere Dauer + anderes Feld",225
6,EBA,"Neubeginn, Betriebswechsel unbekannt",9
7,EBA,LVA ohne Wiedereinstieg,613
8,EFZ3,"Neubeginn, kein Betriebswechsel",226
9,EFZ3,"Neubeginn, mit Betriebswechsel",2801

================================================================================
▶︎ Sheet: T11_QV_Status_Ende_t_Data

  abschlussniveau                       qv_status  total_lernende
0           EBA                      QV bestanden            4568
1           EBA                QV nicht bestanden              96
2           EBA                Noch in Ausbildung             126
3           EBA    Austritt berufl. Grundbildung              750
4            EFZ3                    QV bestanden           30758
5            EFZ3              QV nicht bestanden             448
6            EFZ3              Noch in Ausbildung             920
7            EFZ3  Austritt berufl. Grundbildung             2592
8            EFZ4                    QV bestanden           11264
9            EFZ4              QV nicht bestanden             216

================================================================================
▶︎ Sheet: T12_QV_Status_Ende_t_sex_Data

  abschlussniveau geschlecht                       qv_status  total_lernende
0           EBA       Männer                    QV bestanden            2699
1           EBA       Frauen                    QV bestanden            1869
2           EBA       Männer              QV nicht bestanden              79
3           EBA       Frauen              QV nicht bestanden              17
4           EBA       Männer              Noch in Ausbildung              84
5           EBA       Frauen              Noch in Ausbildung              42
6           EBA       Männer  Austritt berufl. Grundbildung              486
7           EBA       Frauen  Austritt berufl. Grundbildung              264
8            EFZ3     Männer                    QV bestanden           13456
9            EFZ3     Frauen                    QV bestanden           17302

================================================================================
▶︎ Sheet: T13_QV_Status_Ende_t_MIG_Data

  abschlussniveau mig_status                       qv_status  total_lernende
0           EBA           CH                    QV bestanden            2134
1           EBA           CH              QV nicht bestanden              47
2           EBA           CH              Noch in Ausbildung              68
3           EBA           CH  Austritt berufl. Grundbildung              334
4            EFZ3         CH                    QV bestanden           24248
5            EFZ3         CH              QV nicht bestanden             305
6            EFZ3         CH              Noch in Ausbildung             698
7            EFZ3         CH  Austritt berufl. Grundbildung             1703
8            EFZ4         CH                    QV bestanden            9894
9            EFZ4         CH              QV nicht bestanden             156

================================================================================
▶︎ Sheet: T25_Data

,abschlussniveau,ausbildungsfeld_isced_code,ausbildungsfeld_isced_bez,qv_status,total_lernende,datenstatus
0,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV bestanden,NaN,<30
1,EBA,211,Audiovisuelle Techniken und Medienproduktion,QV nicht bestanden,NaN,<30
2,EBA,211,Audiovisuelle Techniken und Medienproduktion,Noch in Ausbildung,NaN,<30
3,EBA,211,Audiovisuelle Techniken und Medienproduktion,Austritt berufl. Grundbildung,NaN,<30
4,EBA,212,"Mode, Innenarchitektur und industrielles Design",QV bestanden,NaN,<30
5,EBA,212,"Mode, Innenarchitektur und industrielles Design",QV nicht bestanden,NaN,<30
6,EBA,212,"Mode, Innenarchitektur und industrielles Design",Noch in Ausbildung,NaN,<30
7,EBA,212,"Mode, Innenarchitektur und industrielles Design",Austritt berufl. Grundbildung,NaN,<30
8,EBA,214,Kunsthandwerk,QV bestanden,NaN,<30
9,EBA,214,Kunsthandwerk,QV nicht bestanden,NaN,<30